:root {
    --text-color: #0f0d10;
    --text-cc: #fef7ff;
    --hover-bg: #0f0d10;
}

@media (prefers-color-scheme: dark) {
    :root{
        --text-color: #fef7ff;
        --text-cc: #0f0d10;
        --hover-bg: #e8def8;
    }
}

/* Header */
.header-name {
    color: var(--text-color);
    text-decoration: none;
}

/* Navigation Bar */
.link {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.active {
    color: var(--text-cc);
    background-color: var(--hover-bg);
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
}