:root {
    --bgc: #fef7ff;
    --opp-c: #0f0d10;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgc: #0f0d10;
        --opp-c: #fef7ff;
    }
}

body {
    background-color: var(--bgc);
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Irish Grover";
    margin-left: 20px;
    margin-right: 20px;
}

header h1 {
    font-size: 40px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

@media (max-width: 655px) {
    header h1 {
        font-size: 5vw;
    }

    nav {
        font-size: 3vw;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70%;
    column-gap: 7vw;
    padding: 5% 5%;
}

form > div {
    display: grid;
    row-gap: 30px;
    width: 100%;
    height: 100%;
}


#name-of-recipe {
    color: var(--opp-c);
    font-family: "Irish Grover";
    font-size: 30px;
    margin-bottom: -30px;
}

input {
   border: none;
   background-color: var(--opp-c);
   font-family: "Consola";
}

input[type="checkbox"] {
    width: 20px;
    accent-color: var(--bgc);
    align-self: center;
    padding: 10px;
}

.checkbox-label {
    color: var(--bgc);
    display: flex;
    align-items: center;
    font-family: "Consola";
    font-size: 20px;
    align-self: center;
}

.input-label {
    border: none;
    font-family: "Consola";
    font-size: 20px;
    padding: 10px;
}

#recipe-name {
    grid-column: span 1;
    justify-self: end;
    align-self: start;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
}

#recipe {
    border: none;
    resize: none;
    background-color: var(--opp-c);
    font-family: "Consola";
    grid-column: span 1;
    justify-self: end;
    align-self: start;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 370px;
}

#recipe-info {
    background-color: var(--opp-c);
    border-radius: 10px;
    height: 218px;
}

#recipe-adjuster {
    background-color: var(--opp-c);
    border-radius: 10px;
    height: 218px;
}