@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "tailwindcss";

@theme {
  /* COLORS */
   --color-background: #0a0a0a;
  --color-border: #2a0a2a;
  --color-active: rgba(54, 1, 133, 0.4);

  --color-title: #ffffff;
  --color-accent1: #de1a58;
  --color-accent2: #8f0177;

  --color-text1: #c090c0;
  --color-text2: #6a4a6a;
  --color-text-border: #8f0177;

  --color-card-bg: #130020;
  --color-card-border: #2a0050;

  --color-button1-bg: rgba(54, 1, 133, 0.1);
  --color-button1-text: #c090ff;
  --color-button1-border: #360185;
  --color-button2-bg: rgba(244, 179, 66, 0.1);
  --color-button2-text: #f4b342;
  --color-button2-border: rgba(244, 179, 66, 0.4);
  --color-button3-bg: rgba(222, 26, 88, 0.1);
  --color-button3-text: #de1a58;
  --color-button3-border: rgba(222, 26, 88, 0.4);
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    background: var(--color-background);
    font-family: 'Roboto';
  }
}